@model NewApp.Services.Views.EditMenteeView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Mentee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @using (Html.BeginForm("HomeController", "EditMenteeView", FormMethod.Post))
            {
                <table>
                    <tr>
                        @*<td></td>
                    <td>Position</td>*@
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(item => item.Position)
                        </td>
                        <td>
                            @*@Html.DropDownListFor(item => item.Position, new SelectList(Model.LevelId, "LevelId", "Position"), new { @class = "form-control" })*@
                        </td>
                    </tr>
                </table>
                <input type="hidden" asp-for="MenteeId" />
                <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <select asp-for="Position" class="form-control" asp-items="ViewBag.Position"></select>
            </div>
                <div class="form-group">
                    <label asp-for="MenteeName" class="control-label"></label>
                    <input asp-for="MenteeName" class="form-control" />
                    <span asp-validation-for="MenteeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }
            </form>
    </div>
</div>

<div>
    <a asp-action="Mentee">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
